body
{
background-color: gray;

}
#name
{
	position:absolute;
	bottom:50%;
	top:25%;
	left:25%;
	right:25%;
   
	animation: name 3s  
		infinite;
	animation-delay: 0s;
	color:black;
	font-size:10px;
}
#floor
{
	position:absolute;
	width:100px;
	height:20px;
	color:black;
}
	#div1
{
	background-color:white;
    width: 100%;
	animation: div1 2s ;
	infinite:
	animation-delay: 0s;
}
#div2
{
	background-color:white;
    width: 100%;
	animation: div2 4s ;
	animation-delay: 1s; 
	infinite:
}

#div3
{
	background-color:red;
    width: 100%;
	animation: div3 3s ;
	animation-delay: 0s;
	infinite:
}

#div4
{
	background-color:maroon;
    width: 100%;
	animation: div4 2s ;
	animation-delay: 1s; 
	infinite:
}



#div1
{animation-timing-function: ease;}
#div2
{animation-timing-function: ease;}
#div3
{animation-timing-function: ease;}
#div4
{animation-timing-function: ease;}
#name
{animation-timing-function: ease;}


@keyframes div1
{
	0% {bottom:20%;height:100%;}
	100% {bottom:100%;height:100%;}
}
@keyframes div2
{
	0% {bottom:20%;height:100%;}
	100% {bottom:100%;height:100%;}
}
@keyframes div3
{
	0% {bottom:20%;height:100%;}
	100% {bottom:100%;height:100%;}
}
@keyframes div4
{
	0% {bottom:20%;height:100%;}
	100% {bottom:100%;height:100%;}
}
@keyframes name
{
	0% {color:grey;left:20%;}
	25% {color:black;bottom:1px;}
	50% {color:gray;left:80%;} 
	75% {color:black;bottom:1px;}
	100% {color:grey;left:20%;}
}







