body
{
background-color: #222222;

}


#Megalist{
	 font-family: verdana;
    font-size: 200%;
	top: 0px;
	right: 0px;
	width:0px;
	bottom:0px;
	position: absolute;
	background-color: #880000;
	padding-left:320px ;
	
}

#Otsikko{
font-family: verdana;
    font-size: 200%;
	position: absolute;
		top: 0px;
	left: 0px;
	right: 0px;
	background-color: #888888;
	color: #880000;
}





ul{
    list-style-type: none;
    margin: 0;
    padding:0px;
	
	width:300px;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom:0%;

    background-color: #2a2a2a;
}

li a{
    display: block;
    color: #888888;
    text-align: left;
    padding:10px ;

	padding-right: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}





